<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>PAL</string>
	<key>CFBundleExecutable</key>
	<string>PALWatch</string>
	<key>CFBundleIdentifier</key>
	<string>sh.martinez.pal.companion.watchkitapp</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>PALWatch</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>MinimumOSVersion</key>
	<string>10.0</string>
	<key>MinimumOSVersion~ipad</key>
	<string>9.0</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSLocalNetworkUsageDescription</key>
	<string>PAL finds your home server on the local network so you don't have to type its address.</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_pal._tcp</string>
	</array>
	<key>NSMicrophoneUsageDescription</key>
	<string>PAL listens while you speak a command.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>PAL transcribes your command on this watch; audio never leaves it.</string>
	<key>WKApplication</key>
	<true/>
	<key>WKWatchOnly</key>
	<true/>
</dict>
</plist>
